<div class="topnav">
    <a class="active" href="http://localhost:3000/">Home</a>
    <a href="/admin/manageruser">Quản lí người dùng</a>
    <a href="#product">Quản lí sản phẩm</a>
    <a href="#staff">Quản lí nhân viên</a>
    <a href="#bill">Quản lí đơn hàng</a>
    <a href="#thongke" class="split">Thống kê</a>
    <a href="#cart" class="split">Cart</a>
</div>