<div class="topnav" id="topnav1">
    <a id="btn1" class="btnnav active" href="http://localhost:3000/">Home</a>
    <a id="btn2" class="btnnav" href="/admin/manageruser">Quản lí người dùng</a>
    <a id="btn3" class="btnnav" href="#product">Quản lí sản phẩm</a>
    <a id="btn4" class="btnnav" href="#staff">Quản lí nhân viên</a>
    <a id="btn5" class="btnnav" href="#bill">Quản lí đơn hàng</a>
    <a id="btn6" class="btnnav split" href="#thongke">Thống kê</a>
    <a id="btn7" class="btnnav split" href="#cart">Cart</a>
</div>