<div class="topnav">
    <a class="active" href="http://localhost:3000/">Home</a>
    <!-- <a href="">Quản lí người dùng</a> -->
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="form-register" class="split">Register</a>
    <a href="#cart" class="split">Cart</a>
</div>