<div class="topnav" id="topnav1">
    <a id="btn1" class="btnnav active" href="http://localhost:3000/">Home</a>
    <!-- <a href="">Quản lí người dùng</a> -->
    <a id="btn2" class="btnnav" href="#contact">Contact</a>
    <a id="btn3" class="btnnav" href="#about">About</a>
    <a id="btn4" class="btnnav split" href="form-register">Register</a>
    <a id="btn5" class="btnnav split" href="#cart">Cart</a>
</div>